.native{
    transition: 0.5s;
}

.native:hover{
   scale: 1.1;
}

@media(max-width: 990px){
    .basic-skills{
        align-self: start;
        margin-left: 0px !important;
    }
    .basic-skill-text{
        font-size:18px !important;
        padding: 0rem!important;
    }
    .basic-skill-sect{
        margin: 0% !important;
    }
}