@media (min-width: 1198px) {
    .block-display-tab{
        display: flex !important;
    }

    .archwarejo-width-bottom-head {
        width: 43%;
    }

    .archwarejo-width-top-head {
        width: 57%;
    }

    .archwarejo-width-top {
        width: 41%;
    }
    .archwarejo-width-bottom {
        width: 59%;
    }

    .archwarejo-image-fully-bottom {
        margin-bottom: -48px;
    }

    .middle-content-padding-right {
        padding-right: 7em;
    }

    .padding-left-desktop {
        padding-left: 2em !important;
    }
}

@media (max-width: 1320px) {
}

@media (max-width: 1198px) {
    .block-display-tab {
        display: block !important;
    }
    .image-width-tab {
        width: 100%;
    }

    .experience-body-mobile {
        background: #1F3F95 !important;
        padding: 0.5rem !important;
    }
    .experience-body-with-pix-mobile {
        background: none !important;
        border-radius: unset !important;
    }
    .image-padding-buttom {
        padding: unset !important;
    }
}

@media (max-width: 990px) {
    .section-top {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding: 1em;
    }
    .section-top > .archware-text-justify {
        margin-right: auto;
    }

    .small-mobile-long-button {
        width: 100% !important;
    }
    .experience-body-mobile {
        background: #1F3F95 !important;
        padding: 0.5rem !important;
    }
    .experience-body-with-pix-mobile {
        background: none !important;
        border-radius: unset !important;
    }
    .image-padding-buttom {
        padding: unset !important;
    }
}

@media (max-width: 769px) {
    .mobile-padding {
        padding: 0.15rem !important;
    }
    .inner-padding {
        padding: 0.25rem !important;
    }

    .card-height-mobile {
        height: 34em !important;
    }

    .image-min-height-mobile {
        height: 14em;
    }
}


@media (max-width: 576px) {
    .text-title-mobile {
        font-size: 30px !important;
        line-height: 38px !important;
    }
    .text-body-mobile {
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .text-label-mobile {
        font-size: 1.2em !important;
        line-height: 38px !important;
    }
    .experience-body-mobile {
        background: #1F3F95 !important;
        padding: 0.5rem !important;
    }
    .experience-body-with-pix-mobile {
        background: none !important;
        border-radius: unset !important;
    }
    .image-padding-buttom {
        padding: unset !important;
    }

    .text-white-header {
        font-size: 1.37rem !important;
    }
    .text-white-paragraph {
        margin-top: .2em !important;
    }
}

@media (max-width: 414px) {
}

.text-white-header {
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 0.2rem;
}

.text-white-paragraph {
    margin-top: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 172%;
    color: #FFFFFF;
}



.archware-text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.archware-content-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 172%;
    color: rgba(4, 8, 86, 0.7);
}
