.TopHeader
{
    min-height: 3rem;
    /* background-color: #078164; */
    /* background-color: #fff; */
    /* -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items:center;
    padding: 4px;
    border-radius: 5px;

    /* padding: 4px;
    border-radius: 5px; */
}
.TopHeader .InputBox
{
    /* max-width: 600px; */
    height: 36px;
    /* background-color: #fff; */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-grow: 1;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 5px;
}
.TopHeader .InputBox input {
    width: 100%;
    border: 1px solid #fff;
    outline: none;
    padding: 8px 0 8px 15px;
    /* border-radius: 15px; */
    box-shadow: #078164;
    border-radius: 5px;
}
.TopHeader .InputBox .SearchIcon {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}
.TopHeader .InputBox .SearchIcon .search {
    color: white;
}
.TopHeader .InputBox .SearchResult {
    z-index:1;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
    display: none;
    max-height: 400px;
    overflow-y: scroll;
    -ms-overflow-style: scroll;
    -webkit-overflow-scrolling: touch;
}
.TopHeader .InputBox .SearchResult li {
    list-style: none;
    /* padding: 2px; */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.TopHeader .InputBox .SearchResult li a {
    text-decoration: none;
    color: #696262;
    padding: 10px 15px;
    display: block;
    width: 100%;
}
.TopHeader .InputBox .SearchResult li:hover {
    background-color: #ccc;
}
.TopHeader .InputBox .SearchResult li .search{
    color: #afa6a6;
}


.btn-outline-archware {
    border-color: #078164;
    color: #040856;
}
.btn-outline-archware:hover {
    background: #078164;
    color: #fde4ff;
}

.archware-anchor-tags {
    color: #040856;
}
.archware-anchor-tags:hover {
    color: #078164;
}

.archware-button {
    color: #078164;
}
.archware-button:hover {
    color: #040856;
}

.archware-button-back-color {
    background: #078164;
    color: white;
}
.archware-button-back-color-strong {
    background: #040856;
    color: white;
}
.archware-button-back-color-strong:hover {
    background: #078164;
    color: #fde4ff;
}
.archware-modal-header {
    background: #078164;
    color: white;
    height: 2px;
}
.archware-alert {
    background: #078164;
    color: white;
}
.user_photo {
    border-radius: 50%;
    height: 21px;
    width: 18px;
    margin-right: 0.2rem;
}

div.timer-div {
    display: inline-block;
    line-height: 1;
    /* padding: 5px;
    margin-top: 6px; */
    font-size: 20px;
    text-align: center;
    /* margin-bottom: 15px; */
    /* margin-top: 15px; */
}
div.timer-div.timer-hours,
div.timer-div.timer-minutes,
div.timer-div.timer-seconds {
    font-size: 30px;
    letter-spacing: 1px;
    color: #212529;
}
div.timer-div span {
    display: block;
    font-size: 12px;
    color: #6c757d;
    margin-top: 2px;
}

.section {
    padding: 50px 150px;
}
@media (max-width: 768px) {
    .section {
        padding: 30px 5px;
    }
}


#social-links ul {
    padding: 5px;
}

.archware-text-dull {
    opacity: 0.7;
}


.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}



.buttonIn {
    width: 300px;
    position: relative;
}

input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 5px;
    height: 50px;
}

.inputBoxItem {
    position: absolute;
    top: 10px;
    right: 850px;
}

/*button {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 15px;
    border: none;
    top: 10px;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #1e90ff;
    transform: translateX(2px);
}*/

.archware_h1 {
    color: #040856;
}


.archware_header_underline {
    border-top: 8px solid #0ad147;
    border-radius: 20px;
    opacity: 100%;
    background-color: #0ad147;
    width: 80px;
}

.archware_section_container {
    background-image: linear-gradient(to right, #06377e , #06546d);
    height: 200px;
    width: 400px;
    border: 8px;
    border-radius: 10px;
    /* position: absolute; */
}




.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.btn {
    margin-top: auto;
}



/* Gbolahan */
#body{
    padding-left: 107px;
    padding-right: 178px;
    padding-top: 47px;   
}

#homepage{
    padding-left: 107px;
    padding-right: 178px;
}

#nav1{
font-weight: 500;
font-size: 16px;
line-height: 21px;   
color: #050C8F;
}
#nav2{

font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #050C8F;
}

#nav3{
font-weight: 500;
font-size: 16px;
line-height: 21px;    
color: #050C8F;
}

#nav4{
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #050C8F;
}

#nav5{
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #050C8F;
}
    
.button{
width: 134px;
height: 40px;
background: #050C8F;
border-radius: 8px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
border: none;
text-align: center;

color: #FDFDFD;
}

#section1-img{
align-items: flex-end;
top: 0px;
left: 700px;
}
.section1-text{
padding-top: 173px;
width: 644px;
font-weight: 600;
font-size: 50px;
line-height: 116%;
/* or 58px */
color: #040856;
}

.section1-text2{
width: 485px;
height: 75px;

font-weight: 400;
font-size: 16px;
line-height: 155%;
/* or 25px */
color: rgba(4, 8, 86, 0.7);}

.OurServicesbtn{
width: 161px;
height: 44px;
border: none;
color: #ffffff;

background: linear-gradient(90deg, #050C8F -54.93%, #0AD147 235.21%);
border-radius: 8px;}

.section2{
    display: inline-flex;
}

.section2text{
padding-top: 133px;
width: 424px;
height: 126px;

font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #040856;

}

.section2text2{
padding-top: 135px;
width: 504px;
height: 168px;
font-weight: 400;
font-size: 16px;
line-height: 172%;
/* or 28px */
color: rgba(4, 8, 86, 0.7);
}

#section2-img{
margin-left: -80px;
padding-top: 109px;
width: 636px;
height: 425px;
}

.section3{ 
    padding-top: 71px;
    margin-left: -230px;
}

.sec3{
    display: flex;
    margin-left: 300px ;
    padding-top: 100px;
}

.section3background{
padding-left: -1000px;
width: 1288px;
height: 446px;
background: linear-gradient(89.83deg, #050C8F -63.22%, #0AD147 274.62%);
border-radius: 21px;}

.section3-img{
   padding-left: 100px;
    width: 584.74px;
    height: 326.25px;
    left: 915.13px;
    top: 82.25px;}

.section3-text1{
width: 227px;
height: 61px;
left: 283px;
top: 90px;

font-weight: 700;
font-size: 50px;
line-height: 61px;
/* identical to box height */
color: #FFFFFF;
}

.section3-text2{
width: 504px;
height: 224px;

font-weight: 400;
font-size: 16px;
line-height: 172%;
/* or 28px */

color: #ffffff;
}

.section4{
    display: flex;
    padding-top: 87px;
}

.sec4texts{
    padding-left: 50px;
    padding-top: 50px

}

.section4-img{
    margin-left: 49px;
    width: 299px;
    height: 577px;
    
}

.section4-text1{
width: 206px;
height: 42px;
font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #040856;

}

.section4-text2{
  
width: 695px;
height: 56px;
left: 511px;
   
font-weight: 400;
font-size: 16px;
line-height: 172%;
/* or 28px */
color: rgba(4, 8, 86, 0.7);
}

.section4-text3{

width: 180px;
height: 42px;
left: 511px;
right: 821px;
top: 2011px;

font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #040856;

}
.section4-text4{

width: 695px;
height: 28px;

font-weight: 400;
font-size: 16px;
line-height: 172%;
/* identical to box height, or 28px */
color: rgba(4, 8, 86, 0.7);

}
.section4-text5{

width: 279px;
height: 42px;

font-weight: 700;
font-size: 35px;
line-height: 42px;

color: #040856;
}
.sec4t6{
   
    width: 695px;
    height: 201px;

    font-weight: 400;
    font-size: 16px;
    line-height: 172%;
    /* or 28px */
    color: rgba(4, 8, 86, 0.7);
}

.section5-background{
    margin-top: 80px;
    width: 1110px;
    height: 270px;
    right: 153px;
    top: 2576px;

    background: linear-gradient(180deg, #063480 0%, #076567 100%);
    border-radius: 21px;
}

.section5-background1{
box-sizing: border-box;

width: 532.86px;
height: 557.48px;

border: 2px solid rgba(255, 255, 255, 0.06);
border-radius: 21px;
}

#section5-background2{
box-sizing: border-box;

width: 762.54px;
height: 797.77px;

border: 2px solid rgba(255, 255, 255, 0.06);
border-radius: 21px;
}
.section5-text{
padding-top: 60px;
font-weight: 700;
font-size: 35px;
line-height: 116%;

text-align: center;

color: #FFFFFF;

}
.toptop{
    padding-top: 10px ;
    display: flex;
    justify-content: center;
}
.blank{
width: 72px;
height: 5px;
justify-content: center;

background: #FFFFFF;
border-radius: 9000px;
}

.theblanks{
    display: flex;
    justify-content: center;
    padding-top: 31px;

}

.blank1
{
margin: 9px;
width: 119px;
height: 41px;
background: #FFFFFF;
border-radius: 6px;
}

.blank2{
margin: 9px;
width: 119px;
height: 41px;    
background: #FFFFFF;
border-radius: 6px;
}

.blank3{
margin: 9px;
width: 119px;
height: 41px;

background: #FFFFFF;
border-radius: 6px;
}

.blank4{
margin: 9px;
width: 119px;
height: 41px;
    
background: #FFFFFF;
border-radius: 6px;
}

.blank5{
margin: 9px;
width: 119px;
height: 41px;
    
background: #FFFFFF;
border-radius: 6px;
}

.section6{
display: flex;
}

.section6partA{
    margin-top: 170px;
}
.section6-text1{
width: 620.22px;
height: 46px;

font-weight: 700;
font-size: 35px;
line-height: 0px;
/* or 0% */

display: flex;
align-items: center;
letter-spacing: -0.02222em;

color: #040856;
}
.section6-text2{
width: 620.22px;
height: 32px;
font-weight: 400;
font-size: 16px;
line-height: 18px;
/* or 112% */
display: flex;
align-items: center;
color: rgba(4, 8, 86, 0.7);

}

.section6-form1{

width: 101px;
height: 19px;

font-weight: 700;
font-size: 12px;
line-height: 1px;
/* or 8% */

display: flex;
align-items: center;

color: #040856;

}
.section6-form2{
   
    width: 574.03px;
    height: 40px;
    left: 187.05px;
    top: 3170px;
    box-sizing: border-box;

/* Color/White */

background: #FFFFFF;
border: 1px solid #D2D6DA;
border-radius: 8px;
}
.section6-form3{
    width: 118px;
    height: 19px;
   
    font-weight: 700;
    font-size: 12px;
    line-height: 1px;
    /* or 8% */

    display: flex;
    align-items: center;

    color: #040856;
}
.section6-form4{

width: 574.03px;
height: 40px;
left: 187.05px;
top: 3284px;
box-sizing: border-box;

/* Color/White */

background: #FFFFFF;
border: 1px solid #D2D6DA;
border-radius: 8px;

}
.section6-form5{

width: 224px;
height: 19px;
left: 191px;
top: 3344px;


font-weight: 700;
font-size: 12px;
line-height: 1px;
/* or 8% */

display: flex;
align-items: center;

color: #040856;

}

.section6-form6{

width: 574.03px;
height: 150px;
left: 187.05px;
top: 3371px;
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #D2D6DA;
border-radius: 8px;
}
.msgbtnA
{padding-top: 30px;
padding-left: 413px;}

.msgbtn{
width: 155px;
height: 40px;
background: linear-gradient(135deg, #063481 0%, #08726A 100%);
border: none;

box-shadow: 0px 4px 7px -1px rgba(0, 0, 0, 0.11), 0px 2px 4px -1px rgba(0, 0, 0, 0.07);
border-radius: 8px;
font-weight: 500;
font-size: 12px;
line-height: 12px;

align-items: center;
text-align: center;

color: #ffffff;
}

.section6partB {
margin-top: 70px;
background-image: url(../customImages/Background.svg) ; 
width: 600px;
height: 599px;
border-top-right-radius: 21px;
border-bottom-right-radius: 21px;
}

.sec6itext{padding-top: 100px;
padding-left: 86px;
}

.section6-text3{
height: 41px;
font-weight: 700;
font-size: 30px;
line-height: 0px;
display: flex;
align-items: center;
letter-spacing: -0.02666em;
color: #FFFFFF;
}

.section6-text4{
width: 293px;
height: 52px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
    
display: flex;
align-items: center;
color: #FFFFFF;
    
}

.phno{
display: inline-flex;
gap: 10px;
}
    
.info_arch1{
width: 14px;
height: 14px;
left: 876px;
top: 3280px;
 
font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
 font-size: 14px;
line-height: 7px;

display: flex;
align-items: center;
        
color: #FFFFFF;
}
    
.info_arch1B{
width: 165px;
height: 19px;
  
font-weight: 400;
font-size: 14px;
line-height: 7px;
/* or 50% */
    
display: flex;
align-items: center;
    
/* Text Color/White 80% */
    
color: rgba(255, 255, 255, 0.8);
}
    
    #info_arch2B{
    width: 220px;
    height: 19px;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
    /* or 50% */
    
    display: flex;
    align-items: center;
    
    /* Text Color/White 80% */
    
    color: rgba(255, 255, 255, 0.8);
    
    }
    
    #info_arch3B{
   
    width: 340px;
    height: 19px;
   
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
    /* or 50% */
    
    display: flex;
    align-items: center;
    
    /* Text Color/White 80% */
    
    color: rgba(255, 255, 255, 0.8);
    
    }
    
    #info_arch2{
    
    width: 14px;
    height: 14px;
       
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
    /* or 50% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Text Color/White */
    
    color: #FFFFFF;
    
    }
    
    #info_arch3{
    
    width: 14px;
    height: 14px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
    /* or 50% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Text Color/White */
    
    color: #FFFFFF;
    
    }
    
    #info_arch4{
    width: 18.07px;
    height: 19px;
    left: 876px;
    top: 3433px;
    
    }
    
    #info_arch5{
    width: 18.07px;
    height: 19px;
    left: 929.27px;
    top: 3433px;
    }
    
    #info_arch6{
    width: 18.07px;
    height: 19px;
    left: 982.54px;
    top: 3433px;
           
    }
    
    #info_arch7{
    width: 18.07px;
    height: 19px;
    left: 1035.81px;
    top: 3433px;
    }
    