.native{
    transition: 0.5s;
}

.native:hover{
   scale: 1.1;
}

@media(max-width: 990px){
    .basic-skills{
        align-self: start;
        margin-left: 0px !important;
    }
    .basic-skill-text{
        font-size:18px !important;
        padding: 0rem!important;
    }
    .basic-skill-sect{
        margin: 0% !important;
    }
    .tech-based-solution{
        line-height: 40px !important;
        font-size: 26px !important;
        text-align: center;
    }
    .tech-based-solution2{
        padding: 0rem !important;
        font-size: 17px !important;
    }
    .image-foodbank{
        margin: auto;
    }
    .contact-card{
        margin: auto !important;
    }
    
    .join-us-img{
        width: 900px !important;
    
    }
    .theext{
            padding-left: 0px !important;
            padding-right: 0px !important;}
    
    .sumitbtn{padding: auto !important;
    margin-top: 0px !important;}
    .large-button-mobile{
        position:static !important;
        background: #040856 !important;
        border-radius: 4px !important;
        font-weight: unset !important;
        font-size: unset !important;
        line-height: unset !important;
        height: unset !important;
        color:#FFFFFF;
        margin-top: -50px !important;
        margin-left: -50% !important;
        width: 90rem !important;
        padding: 0.4em !important;
    }

    .vector-imgs{
        margin: auto !important;
    }
    
    .vector-apps{
        padding-top: 5% !important;
    }
    .pms-hero{
        margin-left: auto !important;
    }
    .text-p{
        font-size: 1rem !important;
        justify-content: center !important;
    }
    .incre{
        padding: 0px !important;
    }
    .team-section-right{
        max-width: 45rem !important;
    }
    .team-section-right > h2 {
        margin-top: 2% !important;
        text-align: center !important;
    }
    .proof-of-work-child{
        max-width: 50rem !important;
        margin-left: 4em !important;
    }
    .text-and-pictures{
        max-width: 40rem !important;
    }
    .text-and-pictures > h2{
        margin-top: 4% !important;
    }
    .about-us-flex{
        flex: none;
    }
    .section3-text2{
        max-width: 40rem !important;
        text-align: justify !important;
        flex: none;
        margin-left: auto;
        margin-right: -10rem !important;
    }
    .vceir{
        line-height: 100% !important;
    }

    .subs-text{ 
        margin: auto !important;
        justify-content: center !important;}
        
    .web-big-font {padding-left: 9%;
        font-size: 20px !important;}
    .web-small-font{font-size: 15px !important;}
    .contact-info{display: none;}
    .contact-form-section{justify-content: center;
    box-shadow:#000000;}
    .aboutus-background{
        border-top-right-radius: 0px !important;}
    .pow-body{font-size: 16px !important;
        width: max-content !important;
    text-align: center !important;
     }
    .pow-web{ text-align: center !important;
    justify-content: space-evenly !important;}
    .web-pow{justify-content: space-evenly !important;}
    .foofoot{ width:fit-content !important;}

    .proof-of-work .web{
        border-right: none !important;
        padding-right: 5rem;
     }

    .contact-us-wrapper{
        max-width: 100%;
    }


  }

  @media(max-width: 500px){
    .section3-text2{
        margin-right: auto !important;
        text-align: justify !important;
    }
    .team-section-right > p{
        font-size: 0.9rem !important;
        justify-content: center !important;
    }
    .proof-of-work-child{
        margin: auto !important;
    }
    
    .web-big-font {padding-left: 0%!important}
  }


