/* Nav text Start*/
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

ul li a {
    color: #1F3F95!important;
}

/* Hide the light logo by default */
.light-logo{
    display: none;
}

.nav-link-text{
    color: #1F3F95!important;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #bbb1cb;
}

.navbar-trigger{
    background: #fafafa;
    box-shadow: 0px 0.5px 1px #1F3F95;
}

/* Nav Dropdown styles */
.dropdown-style li a {
    font-weight: 300;
    color: #1F3F95;
    font-size: .87rem;
}
.hamburger-mobile{
    display: none;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    margin-left: 149px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav > .nav-links > ul li a {
    display: block;
    padding: 0 8px;
    color: #1f3f95;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
}

.nav > .nav-links > ul {
    margin-left: 165px;
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
}
.nav > .nav-links > ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.nav > #nav-check {
    display: none;
}
ul li a:nth-child(2) {
    display: none;
}

.nav .nav-links ul a i {
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}

/* DROPDOWN STYLES */
.nav-postion{
    position: relative;
}
.drop-wrapper{
    /* width: 15rem!important; */
    position: absolute;
    left: 26%;
    top: .2rem;
}
.e-about{
    margin-left: 10rem;
}

.top-level-width{
    min-width: 17rem;
    max-width: 22rem;
}

.top-level-width-long{
    min-width: 22rem;
}

.parent-nav {
    /* width: 100%!important; */
	display: block;
	position: relative;
	float: left;
	line-height: 30px;
	/* background-color: #4FA0D8; */
	/* border-right: #CCC 1px solid; */
}

.parent-nav a {
	margin: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

.parent-nav:hover>.u-list {
	display: block;
	position: absolute;
}

.child-nav {
	display: none;
}

.child-nav .l-list {
	background-color: #E4EFF7;
	line-height: 30px;
	border-bottom: #CCC 1px solid;
	border-right: #CCC 1px solid;
	width: 100%;
}

.child-nav .l-list a {
	color: #000000;
}

.u-list {
	list-style: none;
	margin: 0;
	padding: 0px;
	/* max-width: 20rem; */
}

.u-list .u-list .u-list {
	left: 100%;
	top: 0;
	margin-left: 1px;
}

.l-list:hover {
	background-color: #95B4CA;
}

.parent-nav .l-list:hover {
	background-color: #F0F0F0;
}

.expand {
	font-size: 12px;
	float: right;
	margin-right: 5px;
}

 .e-drop-mobile{
    display: none;
}

@media(max-width: 700px){
    .drop-wrapper{
        left: 1.5%;
        top: 2rem;
    }
    .e-about{
        margin-left: 3.9%;
        margin-top: 1.5rem;
    }
    .parent-nav{
        float: right!important;
    }
    .e-drop-desktop{
        display: none;
    }
    .e-drop-mobile{
        display: block;
    }
}

@media(min-width:768px) and (max-width: 920px){
    .drop-wrapper{
        left: 1%;
        top: 2rem;
    }
    .e-about{
        margin-left: 2.1%;
        margin-top: 1.5rem;
    }
   
}
/* END OF DROPDOWN */
@media (max-width: 1200px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgba(4, 8, 86, 0.7);
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgb(231, 233, 238);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > ul li a {
        display: block;
        width: 100%;
    }
    /*   */
    .nav > .nav-links > ul li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: rgb(231, 233, 238);
    }
    .nav > .nav-links > ul li a {
        margin-top: -10px;
        margin-left: 0%;
    }
    .btnnav {
        margin-left: 0%;
    }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(20vh - 25px);
        overflow-y: auto;
    }
    .nav {
        margin: 10px;
    }
}
/* RESPONSIVE STYLES */
@media(max-width: 990px){
    .hamburger-mobile{
        display: block;
    }
    .hamburger-desktop{
        display: none;
    }
    .right-btn-container{
        /* margin-left: -17%!important; */
    }
    .nav-links-a{
        margin-left: 0!important;
    }
    .colored-logo, .light-logo{
        margin-left: 0!important;
    }
    
}

@media(max-width: 414px){
    .dropdown-style{
        width: 100%!important;
    }
}